// custom.scss
$primary: #38000E;
$secondary: #6A0019;
$light:#D9D9D9;
$body-bg: #38000E;
$body-color: #ffffff;
$font-family-sans-serif: 'Inter', system-ui, -apple-system, "Segoe UI", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
p {
    font-size: 12px;
}
.nav-link {
    text-decoration: none!important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
.card>img{
height: 100px;
}

.lottie{
    width: 100px;
    height: 100px;
    background-color: red!important;
}


/* Din styling bevares 100% */
        .more-text {
            display: none; /* VIGTIGT: Dette fjerner højden fra start */
        }
        
        .card {
            border-radius: 0px;
            transition: all 0.5s ease; 
        }
       .card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}